<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.triggerinnovations.movies"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
    	android:largeScreens="true"
    	android:normalScreens="true"
    	android:smallScreens="true"
    	android:resizeable="true"
    	android:anyDensity="true"
    	/>
    
    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="MOVIES" >
        <activity
            android:name=".mainpage"
            android:label="MOVIES" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".first"></activity>
        <activity android:name=".Theatre"></activity>
        <activity
            android:name=".trytry"> </activity>
             <activity
            android:name=".City">
            </activity>
            <activity
            android:name="com.triggerinnovations.movies.trrry">
            </activity>
             <activity
            android:name="com.triggerinnovations.movies.Comments">
            </activity>
             <activity
            android:name="com.triggerinnovations.movies.NoMovies">
            </activity>
    </application>
    
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>